@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/* repeatable pattern */

:root{
    --clr-dark: #2b2b2b;
    --clr-light: #fff;
    --clr-primary: #1b8b83;
    --clr-secondary: #cfa584;
    --clr-semi-light: #d9d9d9;
    --font: "Truculenta", sans-serif;

}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-dark);
    font-family: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
  /* HEADER */

  .header{
    padding: 2rem 0;
    background-color: var(--clr-semi-light);    

} 

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
display: flex;
flex-direction: row;
gap: 5rem;
padding-right: 15rem;
  }
  .header .header__wrapper ul li a {
   
    font-weight: 700;
    color: var( --clr-dark);
    font-size: 2rem;
  } 
  .header .header__wrapper ul li a:hover{
    text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.30);
    font-weight: 700;
    color: var(--clr-primary );
    font-size: 2rem;
  } 

  /*Mobile Responsive*/

  .header .toggle__menu span{
    color: var(--clr-primary);
    width: 3rem;
    height: .3rem;
    border: 2px solid;
    border-radius: 1rem;
  }
  .header .toggle__menu{
    display: none;  
  }
  @media screen and (max-width: 520px){
      .header .toggle__menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
  
      .header .header__nav {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--clr-semi-light);
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        z-index: 9;
        transition: all 0.5s ease;
        transform: translateY(-18rem);
        margin-top: 26rem;
        gap: 2rem;
        right: -100%;
      }
    
      .header__nav.open{
        right: 0;
        translate: all 0.5s ease;
      }
    
      .header .header__wrapper img {
        width: 10rem;
      }
      .toggle__menu.open span:first-child{
        transform: translate(0, 12px) rotate(225deg);  
        transition: .5s ease ;
      }
      .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease ;
    }
    .toggle__menu.open span:last-child{
      transform: translate(0, -5px) rotate(-225deg);
      transition: .5s ease ;
    }
  }
  /* top */

  .top{
 background-color: var(--clr-secondary);
 padding: 3rem 0;
 text-align: center;
  
}
  .top span {
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 5rem;  
}

.top h4{
  line-height: 2.2rem;
  font-size: 3.3rem;
  font-weight: 700;   
}

/* home banner */

.homebanner{
  padding: 3rem 0;
}
.homebanner__wrapper{
  display: flex;
  justify-content: space-between;
}
.homebanner__left{
  max-width: 80rem;
}
.homebanner__left ul li {
  line-height: 5rem;
}

.homebanner__left ul li:first-child{
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;

}

.homebanner__left ul li:nth-child(2){
  color: var(--clr-secondary);
  font-size: 5rem;
  font-weight: 700;
  margin-left: 7rem;
}
.homebanner__left ul li:last-child{
 
  /*position: absolute;*/

  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 100;
  
  
}
.homebanner__left ul li:last-child::before{
  display: inline-block;
  position: relative;
  content: "";
  background-color: var(--clr-primary);
  width: 20rem;
  height: .2rem;
  bottom: 1rem;
  right: 1rem;
}
.homebanner__left p{
  margin-bottom: 5rem;
}
.homebanner__right{
display: flex;
gap: 2rem;
}

.homebanner__right img:last-child{
  position: relative;
  top: 4rem;
}

@media screen and  (max-width: 520px) {
  .homebanner__wrapper{
  flex-direction: column  ;
}
.homebanner__left ul li:last-child::before{
  width: 10rem;
}
.homebanner__right {
  display: none;
}
}
/*About*/

.aboutSection h2{
  color: var(--clr-primary);
  font-size: 3rem;
font-weight: 700;
}
.aboutSection h2::before{
  display: inline-block;
  position: relative;
  content: "";
  background-color: var(--clr-primary);
  width: 120rem;
  height: .2rem;
  bottom: 1rem;
  right: 1rem;
}
.homebanner{
  padding-top: 3rem;
  padding-bottom: 7rem;
}

/* ABOUT SECTION */

.aboutSection{
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.aboutSection  h2{
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.aboutSection  h2::before{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: .2rem;
  width: 85rem;
  bottom: 1rem;
  right: 1rem;
} 
.aboutSection__wrapper{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
} 
.aboutSection__right{
max-width: 100rem;
}
.aboutSection__right p{
  color: var(--clr-light);
  margin-bottom: 2rem;
}

@media screen and (max-width: 520px) {
  .aboutSection__left{
    display: none;
  }
  .aboutSection h2::before{
    display: none;
  }
  
}

/* Catalog */

.catalogSection{
  padding: 3rem 0;
}

.catalogSection h2{
color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
}

.catalogSection h2::after{
  display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 95rem;
    height: .2rem;  
    bottom: 1rem;
    left: 1rem;
}


.catalogSection__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.catalogSection__card{
  background-color: var(--clr-semi-light);
  max-width: 40rem;
  margin-top: 3rem;
}

.catalogSection__card img{
  width: 40rem;
}
.catalogSection__card--content{
padding: 1rem;
}

.catalogSection__card--content h3{
    color: var(--clr-secondary);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .catalogSection__card--content p{
    margin-bottom: 1rem;

  }
/*Catalog*/
@media screen and (max-width:520px) {
  .catalogSection h2::after{
    display: none;
  }
  .catalogSection__wrapper{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}
  /*CTA*/

  .cta{
  padding: 3rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-semi-light);
}
.cta__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta h2{
  font-size: 2.5rem;
  font-weight: 700;
}
.cta p{
  margin-bottom: 1rem;
}

/*FOOTER*/

.footer{
  background-color: var(--clr-dark);
  color: var(--clr-semi-light);
  padding: 2rem 0;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
  
}
.footer ul{
  display: flex;
  gap: 1rem;
}
.footer ul li a{
color: var(--clr-semi-light);
}
/* Foote m*/

@media screen and (max-width:520px) {
  .footer__wrapper{

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

}

/*About PAge  BAnejb*/
.aboutBanner{
  padding: 3rem 0;
}
.aboutBanner__wrapper{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.aboutBanner__right{
  max-width: 85rem;
}

.aboutBanner__right ul{
  display: flex;
  gap: 1rem;
}
.aboutBanner__right h1{
  font-size: 7rem;
  font-weight: 700;
  letter-spacing: 2rem;
  margin-bottom: 2.5rem;
}

.aboutBanner__right p{
  margin-bottom: 2rem;
  text-align: justify;
}

.aboutBanner__right ul li a{
color: var(--clr-dark);
font-size: 2.5rem;
} 

.aboutBanner__left small{
  padding-left: 1.9rem;
}
.aboutBanner__left small::before{
  display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-dark);
    width: 35rem;
    height: .2rem;  
    bottom: .3rem;
    right: 2rem;
    
}
/* APBM */
@media screen and (max-width: 520px) {
  .aboutBanner__left{
    display: none;
  }
  .aboutBanner__right h1{

    font-size: 6rem;
  }
}


/* LATEST STYLE BANNER */
.latestBanner{
  padding: 3rem;
  background-color: var(--clr-dark);
  padding-bottom: 4rem;
  
}


.latestBanner__wrapper{
  display: grid;
  grid-template-columns: 40rem 40rem 40rem ;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.latestBanner h2{
  font-weight: 700;   
}

.latestBanner h2::after{
  display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    
    width: 117rem;
    height: .2rem;  
    bottom: .3rem;
    left: 2rem;
}

.latestBanner__card{

  background-color: var(--clr-light);
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 2.5rem;
}

.latestBanner__card img{
  width: 40rem;
}

.latestBanner__card--content{
  padding: 1rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: justify;
}

.latestBanner__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.latestBanner__card--content p{
  font-weight: 500;
  margin-bottom:  5rem;
}



.latestBanner h2{
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 500rem;
  margin-bottom: 2rem;
  margin-top: 50px;

}

.latestBanner__card{
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width:520px) {
  .latestBanner h2::after{
    display: none;
  }
  .latestBanner__wrapper{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}
@media screen and (max-width:520px) {
  .footer__wrapper{

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

}

/*catalog*/

.catalogbanner__bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
  url(./img/catalog-banner.png);
height: 100vh;
background-size: cover;
background-repeat: no-repeat;

width: 100%;
    margin-bottom: 10px;
display: flex;
flex-direction:  column;
justify-content: center;
text-align: center;
}
.catalogbanner{
  max-width: 100%;
  width: auto;
}

.catalogbanner h1{
 
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-primary);
}

.catalogbanner p {
  font-size: 3rem;
  line-height: 2.5rem;
  
}
/*package*/
/*  INTERIOR PACKAGE BANNER */
.package__wrapper {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.package__theme {
  padding: 5rem;
  display: flex;
  gap: 0.5rem;
  max-width: 1500px;
  width: 100%;
}


.package__wrapper h1{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
}


.package__theme{
  display: flex;
  flex-direction: row;

  .package__left{
    width: 500rem;
  }

  .package__right h2{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  }

  .package__right {
    margin-right: 2rem;
    margin-top: 3rem;
    text-align: justify;
  }
}
.package__theme:nth-child(odd){
  flex-direction: row-reverse;
  background-color: var(--clr-semi-light);
  position: relative;
}

.package__theme:nth-child(odd)::after{
  content:"";
  position: absolute;
  top:0;
  width: 800rem;
  height: 100%;;
  background-color: var(--clr-semi-light);
  left: 100%;
}

.package__theme:nth-child(odd)::before{
  content:"";
  position: absolute;
  top:0;
  width: 800rem;
  height: 100%;;
  background-color: var(--clr-semi-light);
  right: 100%;
}

@media screen and (max-width: 520px) {
  .package__theme{
    display: grid;
    grid-template-columns: 390px;

  }
  .catalogbanner h1{
    font-size: 4rem;
  }
  .catalogbanner p{
    font-size: 2rem;
  }

  .package__wrapper h1{
    font-size: 4.5rem;
  }

  .package__left img{
    margin-bottom: 0rem;
    display: flex;
    width: 37rem;
    justify-content: center;
    align-items: center;
  }

  .package__left {
    padding: 0rem 0rem;
    justify-content: center;
    align-items: center;
  }

  .package__left h2{
    margin-right: 0rem;
    margin-top: 0rem;
    text-align: center;
    font-size: 5rem;

  }

}






/* UPDATES BANNER*/

.updatesBanner{
  background-color: #fff;
  padding: 5rem 0;
}

.updates__wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}


.updates__left {
  padding: 1rem;
  max-width: 500px;
}

.updates__left h1{
text-align: center;
font-size: 7rem;
font-weight: 700;
color: var(--clr-primary);
}

.updates__left p{
  text-align: justify;
}



/*BUILDING DESIGN*/
.bdBanner{
  background: var(--clr-light);
}

.bd__wrapper h1{
  font-weight: 600;
  font-size: 3rem;
  color: var(--clr-secondary);

}
.bd__wrapper{
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}


.bd__cards{
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 45rem 45rem;
  grid-gap: 20px;
}

.bd__cards .bd__card{
  width :45rem;
  height: 30rem;
  padding: 4rem;
  padding-bottom: 2rem;
background-color: var(--clr-semi-light);
}

.bd__cards .bd__card h2{
  margin-bottom: 1.5rem;
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
}


.bd__cards .bd__card p{
  font-size: 1.6rem;
  text-align: justify;
  align-items: center;
}



.bd__cards .bd__card a{
  font-size: 3.5rem;
  color: var(--clr-dark);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}


.bd__sidebar ul li{
  font-size: larger;
  margin-bottom: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.bd__sidebar{
  background: var(--clr-light);
}


/* RECENT PROJECTS BANNER*/
.projs{
    padding: 4rem;
}
.projs__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}


.projs h2{
  font-weight: 700;
  font-size: 5rem;
  background: var(--clr-light);
  text-align: center;
  color: var(--clr-primary);
}
.projs__wrapper img{
  background: var(--clr-light);
  width: 100%;
  margin-bottom: 10px;
}
.projectCard ul{
  display: flex;
  justify-content: space-between;
}
.projs{
  background: var(--clr-light);
}

.projectCard ul li{
  font-size: 2rem;
  font-weight: 500;
}
/* UPDATES MOBILE */
@media screen and (max-width: 520px) {
  /*BUILDING DESIGN*/
  .updates__wrapper img{
    display: none;
  }
  .bdBanner{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .bd__wrapper{
    display: grid;
  grid-template-columns: 1fr;

  }

  .bd__cards{
    padding-left: 0;
    grid-template-columns: 190px 190px;
    grid-gap: 5px;
  } 

  .bd__cards .bd__card{
  width : 18rem;
  height: 25rem;
  padding: 2rem;
  }

  .bd__cards .bd__card h1{
    margin-bottom: .5rem;
    font-weight: 800;
    font-size: 1.9rem;
    text-align: center;
  }
  
  
  .bd__cards .bd__card p{
    font-size: 1.5rem;
    text-align: justify;
    align-items: center;
  }
  
  
  
  .bd__cards .bd__card a{
    font-size: 2.8rem;
    color: var(--clr-dark);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  

  .bd__sidebar{
    padding: 3rem 0;
    padding-right: 2rem;
  }
  
  .bd__sidebar ul li{
    font-size: 20px;
    margin-bottom: 1.1rem;  
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }

  /* RECENT PROJECTS MOBILE */
.projs h2{
  margin-bottom: 2rem;
  font-size: 4rem;
}

  .projs__wrapper{
  display: grid;
  grid-template-columns:  4fr;
  }

  .projs__wrapper img{
    width: 100%;
    margin-bottom: 10px;
  }
  .projectCard ul{
    display: flex;
    justify-content: space-between;
  }

}


/**/

.recent{
  padding: 4rem;
}
.recent h2{
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
  color: var(--clr-primary);
}
.recent__wrapper{
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    gap: 2rem;

}
.recent__wrapper img{ 
    width: 100%;
    margin-bottom: 10px;
}
.recent__wrapper ul{
  display: flex;
  justify-content:space-between;
}
.recent__wrapper ul li{
  font-size: 2rem;
  font-weight: 500;
}

/*contacts*/


.contact__wrapper{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 50px;
}


.contactBanner h2{
  color: var(--clr-primary);
  padding-top: 5rem;
  font-size: 5rem;
  margin-bottom: 20px;
  font-weight: 700;

}
.contactBanner p{
  font-weight: 500;
}

.contact__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.contact__form input{
border: none;
outline: none;
background-color: transparent;
width: 90%;
border-bottom: 1px solid var(--clr-dark);
padding: 3rem 0;
} 
.contact__form textarea{
resize: none;
border: none;
outline: none;
background-color: transparent;
width: 90%;
border-bottom: 1px solid var(--clr-dark);
margin-bottom: 5rem;
max-height: 400rem;
font-style: var(--clr-semi-light);

} 
.contact__form {
  margin-top: 7rem;
}

.contactBanner h1{
  display: flex;
  justify-self: center;
  color: var(--clr-light);
  font-size: 5rem;
  margin: 20px 50px;
  font-weight: 700;
  margin-top: 6rem;

}
  .contact__info {
    background-color: var(--clr-dark);
    padding-bottom: 10rem;
    margin-bottom: 30rem;
    max-height: 48.5rem;
    align-items: center;
  }
.contact__info ul li {
  color: var(--clr-light);
  margin: 40px 50px;

 
}
.contact__info i{
  color: var(--clr-secondary);
  margin-right: 20px;
  font-size: 2.5rem;
}

.contact__form button{
  width: 100%;
  max-width: 62rem;
  border-radius: 90rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  font-size: 2.1rem;
  border: none;
  outline: none;
  letter-spacing: 2.5rem;
}

.contact__form button:hover{
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

@media screen and (max-width: 520px) {
  .contactBanner{
    padding: 0 0;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .contactBanner h2{
    font-size: 6.9rem;
  }

  .contact__info{
    width: 35rem;
  }

  .contact__wrapper{
  display: grid;
  grid-template-columns: 1fr;
  }
  .contactBanner p{
    font-size: 1.8rem;
  }

  .contact__form input{
    width: 100%;
  }

  .contact__form textarea{
    width: 100%;
  }
  .recen0t__wrapper{
    width: 100%;
  }
}
/*Repetable*/

.btn{
  background-color: transparent;
  border: transparent;
  border-radius: 10rem;
  padding:  1rem 2rem;
  color: transparent;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 700;
}
.btn.bg--semi-light{
  background-color: var(--clr-semi-light);
  color: var(--clr-dark);
}

.btn.bg--semi-light:hover{
  background-color: var(--clr-dark);
  color: var(--clr-semi-light);
}

.btn--nobg{
  color: var(--clr-dark)
}
.btn--nobg:hover{
  color: var(--clr-primary)
}



  


  