@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100;12..72,400;12..72,700&display=swap");
/* repeatable pattern */

:root{
    --clr-dark: #2b2b2b;
    --clr-light: #fff;
    --clr-primary: #1b8b83;
    --clr-secondary: #cfa584;
    --clr-semi-light: #d9d9d9;
    --font: "Truculenta", sans-serif;

}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: var(--clr-dark);
    font-family: var(--font);
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }
  
  .container {
    width: 100%;
    max-width: 150rem;
    margin: 0 auto;
    padding: 0 5rem;
  }
  /* HEADER */

  .header{
    padding: 2rem 0;
    background-color: var(--clr-semi-light);    

} 

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
display: flex;
flex-direction: row;
gap: 2rem;
  }
  .header .header__wrapper ul li a {
   
    font-weight: 700;
    color: var( --clr-dark);
    font-size: 2rem;
  } 
  .header .header__wrapper ul li a:hover{
    text-shadow: 6px 6px 30px rgba(0, 0, 0, 0.30);
    font-weight: 700;
    color: var(--clr-primary );
    font-size: 2rem;
  } 

  /*Mobile Responsive*/

  .header .toggle__menu span{
    color: var(--clr-primary);
    width: 3rem;
    height: .3rem;
    border: 2px solid;
    border-radius: 1rem;
  }
  .header .toggle__menu{
    display: none;  
  }
  @media screen and (max-width: 520px){
      .header .toggle__menu {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
  
      .header .header__nav {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: var(--clr-semi-light);
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        z-index: 9;
        transition: all 0.5s ease;
        transform: translateY(-18rem);
        margin-top: 26rem;
        gap: 2rem;
        right: -100%;
      }
    
      .header__nav.open{
        right: 0;
        translate: all 0.5s ease;
      }
    
      .header .header__wrapper img {
        width: 10rem;
      }
      .toggle__menu.open span:first-child{
        transform: translate(0, 12px) rotate(225deg);  
        transition: .5s ease ;
      }
      .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: .5s ease ;
    }
    .toggle__menu.open span:last-child{
      transform: translate(0, -5px) rotate(-225deg);
      transition: .5s ease ;
    }
  }
  /* top */

  .top{
 background-color: var(--clr-secondary);
 padding: 3rem 0;
 text-align: center;
  
}
  .top span {
  font-size: 1.7rem;
  font-weight: 100;
  margin-bottom: 5rem;  
}

.top h4{
  line-height: 2.2rem;
  font-size: 3.3rem;
  font-weight: 700;   
}

/* home banner */

.homebanner{
  padding: 3rem 0;
}
.homebanner__wrapper{
  display: flex;
  justify-content: space-between;
}
.homebanner__left{
  max-width: 80rem;
}
.homebanner__left ul li {
  line-height: 5rem;
}

.homebanner__left ul li:first-child{
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;

}

.homebanner__left ul li:nth-child(2){
  color: var(--clr-secondary);
  font-size: 5rem;
  font-weight: 700;
  margin-left: 7rem;
}
.homebanner__left ul li:last-child{
 
  /*position: absolute;*/

  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 100;
  
  
}
.homebanner__left ul li:last-child::before{
  display: inline-block;
  position: relative;
  content: "";
  background-color: var(--clr-primary);
  width: 20rem;
  height: .2rem;
  bottom: 1rem;
  right: 1rem;
}
.homebanner__left p{
  margin-bottom: 5rem;
}
.homebanner__right{
display: flex;
gap: 2rem;
}

.homebanner__right img:last-child{
  position: relative;
  top: 4rem;
}

@media screen and  (max-width: 520px) {
  .homebanner__wrapper{
  flex-direction: column  ;
}
.homebanner__left ul li:last-child::before{
  width: 10rem;
}
.homebanner__right {
  display: none;
}
}
/*About*/

.aboutSection h2{
  color: var(--clr-primary);
  font-size: 3rem;
font-weight: 700;
}
.aboutSection h2::before{
  display: inline-block;
  position: relative;
  content: "";
  background-color: var(--clr-primary);
  width: 120rem;
  height: .2rem;
  bottom: 1rem;
  right: 1rem;
}
.homebanner{
  padding-top: 3rem;
  padding-bottom: 7rem;
}

/* ABOUT SECTION */

.aboutSection{
  padding: 3rem 0;
  background-color: var(--clr-dark);
}
.aboutSection  h2{
  color: var(--clr-primary);
  font-size: 3rem;
  font-weight: 700;
}
.aboutSection  h2::before{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-primary);
  height: .2rem;
  width: 85rem;
  bottom: 1rem;
  right: 1rem;
} 
.aboutSection__wrapper{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
} 
.aboutSection__right{
max-width: 100rem;
}
.aboutSection__right p{
  color: var(--clr-light);
  margin-bottom: 2rem;
}

@media screen and (max-width: 520px) {
  .aboutSection__left{
    display: none;
  }
  .aboutSection h2::before{
    display: none;
  }
  
}

/* Catalog */

.catalogSection{
  padding: 3rem 0;
}

.catalogSection h2{
color: var(--clr-primary);
    font-size: 3rem;
    font-weight: 700;
}

.catalogSection h2::after{
  display: inline-block;
    position: relative;
    content: " ";
    background-color: var(--clr-primary);
    width: 95rem;
    height: .2rem;  
    bottom: 1rem;
    left: 1rem;
}


.catalogSection__wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}

.catalogSection__card{
  background-color: var(--clr-semi-light);
  max-width: 40rem;
  margin-top: 3rem;
}

.catalogSection__card img{
  width: 40rem;
}
.catalogSection__card--content{
padding: 1rem;
}

.catalogSection__card--content h3{
    color: var(--clr-secondary);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .catalogSection__card--content p{
    margin-bottom: 1rem;

  }
/*Catalog*/
@media screen and (max-width:520px) {
  .catalogSection h2::after{
    display: none;
  }
  .catalogSection__wrapper{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}
  /*CTA*/

  .cta{
  padding: 3rem 0;
  background-color: var(--clr-primary);
  color: var(--clr-semi-light);
}
.cta__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta h2{
  font-size: 2.5rem;
  font-weight: 700;
}
.cta p{
  margin-bottom: 1rem;
}

/*FOOTER*/

.footer{
  background-color: var(--clr-dark);
  color: var(--clr-semi-light);
  padding: 2rem 0;
}
.footer__wrapper{
  display: flex;
  justify-content: space-between;
  
}
.footer ul{
  display: flex;
  gap: 1rem;
}
.footer ul li a{
color: var(--clr-semi-light);
}
/* Foote m*/

@media screen and (max-width:520px) {
  .footer__wrapper{

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

}

/*About PAge  BAnejb*/
.aboutbanner{
  padding: 3rem 0;

}

.about__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.aboutbanner__right{
  max-width: 85rem;

}
.aboutbanner__right h1{ 
font-size: 7rem;
font-weight: 700;
letter-spacing: .5rem;
margin-bottom: 2.5rem;
}

.aboutbanner__right ul{
    display: flex;
    gap: 1rem;
   
}

.aboutbanner__right p{
  margin-bottom: 2rem;
  text-align: justify;
}

.aboutbanner__right ul li a{
  color: var(--clr-dark) ;
  font-size: 2rem;
}

.aboutbanner__left small{
  padding-left: 2.5rem;
  font-size: 1.5rem;
}
.aboutbanner__left small::before{
  display: inline-block;
  position: relative;
  content: " ";
  background-color: var(--clr-dark);
  width: 14.rem;
  height: .1rem;  
  bottom: .3rem;
  right: 2.5rem;

}
/* APBM */
@media screen and (max-width: 520px) {
  .aboutbanner__left{
    display: none;
  }
  .aboutbanner__right h1{
    font-size: 4rem;
  }
}


/* LATEST STYLE BANNER */
.latestBanner{
  padding: 3rem;
  background-color: var(--clr-dark);
  
}

.latestBanner__wrapper{
  display: grid;
  grid-template-columns: 40rem 40rem 40rem ;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.latestBanner__card{

  background-color: var(--clr-light);
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
  gap: 2.5rem;
}

.latestBanner__card img{
  width: 40rem;
}

.latestBanner__card--content{
  padding: 1rem;
  font-weight: 600;
  font-size: 2rem;
  text-align: justify;
}

.latestBanner__card--content h3{
  color: var(--clr-secondary);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.latestBanner__card--content p{
  font-weight: 500;
  margin-bottom:  5rem;
}

.latestBanner h1{
  color: var(--clr-primary);
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;

}

.latestBanner h2{
  color: var(--clr-light);
  font-size: 1.5rem;
  font-weight: 1rem;
  margin-bottom: 2rem;

}

.latestBanner__card{
  background-color: var(--clr-light);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  max-width: 40rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width:520px) {
  .latestBanner h2::after{
    display: none;
  }
  .latestBanner__wrapper{
    grid-template-columns: 1fr;
    gap: 1rem;
  }

}
@media screen and (max-width:520px) {
  .footer__wrapper{

    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

}

/*catalog*/

.catalogbanner__bg {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
  url(./img/catalog-banner.png);
height: 100vh;
background-size: cover;
background-repeat: no-repeat;


display: flex;
flex-direction:  column;
justify-content: center;
text-align: center;
}

.catalogbanner h1{
  font-size: 7rem;
  font-weight: 700;
  color: var(--clr-primary);
}

.catalogbanner p {
  font-size: 3rem;
  line-height: 2.5rem;
  
}
/*package*/
.package__wrapper h1{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}
.package__theme{
  padding: 3rem 25rem;
  display: flex;
  flex-direction: row;

  .package__left{
    width: 500rem;
  }

  .package__right h2{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  }

  .package__right p{
    margin-top: 3rem;
    text-align: justify;
  }
}

.package__theme:nth-child(odd){
  background-color: var(--clr-semi-light);
  flex-direction: row-reverse;
  .package__right p{
    padding-right: 9rem;
  }

  .package__left img{
    padding-left: 6rem;
  }
}
/*updates

}*/

.updates__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

.upates__left h1{
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  padding-top: 20rem;
  margin: 30px;
}
.upates__left P{
  font-size: 2rem;
  padding-top: 20rem;
  margin: 30px;
}

}
.updates__wrapper{
  display: flex;
  justify-content:center;
  align-items: center;
}
.updates__right{
  display: flex;
}
.updates__right img{
  display: flex;;
  min-width: 500rem;
  
}








/*contacts*/

.contact {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact h1 {
  color: var(--clr-primary);
  font-size: 6rem;
  font-weight: 700;
  padding-top: 5rem;
  margin-bottom: 20px;
}

.contact__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__left{
  flex-basis: calc(50% - 10px);
}

.contacts__right h1{
  color: var(--clr-semi-light);
  font-size: 6rem;
  font-weight: 700; 
  margin: 20px;
}
.contacts__right p{
  color: var(--clr-light);
  padding: 2rem;
  font-size: 1.5rem;
  margin-bottom: 20px;

}
.contacts__right ul li a{
  display: flex;
  flex-direction: center;

}

.contacts__right {
  flex-basis: calc(50% - 10px);
  padding-left: 20px;
}

.contacts__leftform {
  border: none;
  box-shadow: none;
  padding-right: 20px; 
  padding-bottom: rem;
}
.contacts__left p{
padding-bottom: 10rem;
}

.contacts__right_btn_bg--semi-light-send{
  margin-top: 250rem;
}

input[type="text"],
textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  padding: 5px 0;
  margin-bottom: 10px;
  width: 100%; 
}

textarea::placeholder {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

textarea {
  height: 100px;
}

input[type="text"]:focus,
textarea:focus {
  outline: none;
  border-bottom-color: var(--clr-primary);
  box-shadow: none;
}
.contacts__right{
background-color: var(--clr-dark);

}



/*Repetable*/

.btn{
  background-color: transparent;
  border: transparent;
  border-radius: 10rem;
  padding:  1rem 2rem;
  color: transparent;
 box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-weight: 700;
}
.btn.bg--semi-light{
  background-color: var(--clr-semi-light);
  color: var(--clr-dark);
}

.btn.bg--semi-light:hover{
  background-color: var(--clr-dark);
  color: var(--clr-semi-light);
}

.btn--nobg{
  color: var(--clr-dark)
}
.btn--nobg:hover{
  color: var(--clr-primary)
}

.btn.bg--semi-light-send{
  padding-left: 20rem;
  padding-right: 20rem;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  letter-spacing: 2rem;
  text-align: center;

}
  .btn.bg--semi-light-send:hover{
  background-color: var(--clr-primary);
  color: var(--clr-light);
  letter-spacing: 2rem;
  text-align: center;
  
  }





